.scroll-btn{
  position: fixed;
  bottom: 20px;
  right: 20px;
  padding: 10px 20px;
  font-size: 16px;
  background-color:  #002379;
  color: white;
  border: #FF5F00 solid 1px;
  border-radius: 35px;
  cursor: pointer;
}